@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

a {
  color: black;
  text-decoration: none;
  list-style-type: none;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.header {
  height: 72px;
  display: flex;
  justify-content: space-between;
  line-height: 72px;
}
.header .logo {
  width: 30%;
}
.header .logo h1 {
  font-size: 20px;
  text-transform: uppercase;
}
.header .menu {
  width: 30%;
}
.header .menu ul {
  display: flex;
  justify-content: space-between;
}
.header .menu ul li a {
  font-size: 16px;
  font-weight: 500;
}
.header .search-cart {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}
.header .search-cart .search input {
  border: none;
  outline: none;
  width: 55px;
  height: 40px;
  padding-bottom: 0;
  transition: all ease 0.5s;
}
.header .search-cart .cart {
  margin-left: 20px;
}
.header .search-cart .cart .icon-cart {
  width: 30px;
  position: relative;
}
.header .search-cart .cart .icon-cart i {
  font-size: 16px;
}
.header .search-cart .cart .icon-cart .quantity-cart {
  position: absolute;
  top: 10%;
  right: -15%;
  text-align: center;
  border-radius: 50%;
  background-color: #d62828;
  color: #FFFFFF;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 13px;
}

.banner {
  width: 100%;
  height: 600px;
}
.banner .bg-banner {
  position: relative;
}
.banner .bg-banner img {
  width: 100%;
  max-width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .bg-banner .bg-heading {
  position: absolute;
  top: 45%;
  left: 10%;
}
.banner .bg-banner .bg-heading h1 {
  color: #FFFFFF;
  font-size: 150px;
  line-height: 130px;
  letter-spacing: 1px;
}
.banner .bg-banner .bg-heading p {
  background-color: rgba(192, 192, 192, 0.3);
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
}

.products {
  margin-bottom: 50px;
  text-align: center;
}
.products .title {
  margin: 50px 0;
}
.products .title h4 {
  font-weight: 100;
  color: #a9b4c2;
  font-size: 18px;
}
.products .title h2 {
  color: #1c2321;
  font-size: 35px;
  font-weight: 600;
  padding: 0px 0 20px 0;
}
.products .title p {
  color: #1c2321;
  line-height: 25px;
}
.products .products__list {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}
.products .products__list .product__item {
  position: relative;
  width: 380px;
  height: 470px;
  cursor: pointer;
  cursor: progress;
}
.products .products__list .product__item:hover h5 {
  color: #5e6572;
}
.products .products__list .product__item .pro__new {
  position: absolute;
  top: 0;
  left: -10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #d62828;
  z-index: 99;
}
.products .products__list .product__item .pro__new p {
  color: #FFFFFF;
}
.products .products__list .product__item .pro__new::after {
  position: absolute;
  content: "";
  top: 50px;
  left: 0px;
  border-left: 10px solid transparent;
  border-top: 10px solid #d62828;
  filter: brightness(70%);
}
.products .products__list .product__item .img__pro {
  height: 80%;
  width: 100%;
  position: relative;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
.products .products__list .product__item .img__pro:hover .overlay {
  visibility: visible;
  -webkit-animation: fadeHover 0.3s;
          animation: fadeHover 0.3s;
}
.products .products__list .product__item .img__pro .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgba(110, 107, 107, 0.5);
}
.products .products__list .product__item .img__pro .overlay button {
  padding: 15px;
  background-color: #7d98a1;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.products .products__list .product__item .img__pro .overlay button:hover {
  background-color: #eef1ef;
}
.products .products__list .product__item .img__pro .overlay button:hover i {
  color: #7d98a1;
}
.products .products__list .product__item .img__pro .overlay button i {
  font-size: 18px;
  color: #FFFFFF;
}
.products .products__list .product__item .img__pro img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products .products__list .product__item .title_pro {
  font-size: 17px;
  padding: 20px 0;
  margin-bottom: 20px;
}
.products .products__list .product__item .title_pro h5 {
  margin-bottom: 10px;
}
.products .products__list .product__item .title_pro span {
  color: #7d98a1;
}

.contact .content {
  background-image: url("/img/bg-contact.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  background-position: center;
  background-attachment: fixed;
}
.contact .content .nocontent {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact .content .nocontent h1 {
  font-size: 40px;
  color: #eef1ef;
}
.contact .content .nocontent p {
  margin: 20px 0 40px 0;
  color: #eef1ef;
}
.contact .content .nocontent .form {
  display: flex;
  gap: 0 15px;
}
.contact .content .nocontent .form input {
  outline: none;
  border: none;
  width: 345px;
  height: 54px;
  font-size: 20px;
  padding-left: 15px;
}
.contact .content .nocontent .form button {
  cursor: pointer;
  outline: none;
  border: none;
  width: 345px;
  height: 54px;
  font-size: 20px;
  background-color: #7d98a1;
  color: #FFFFFF;
  font-weight: 600;
}
.contact .content .nocontent .form button:hover {
  background-color: #5e6572;
  transition: all ease 0.3s;
}

@-webkit-keyframes fadeHover {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeHover {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
footer .col {
  width: 45%;
}
footer .col h3 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}
footer .col p {
  font-size: 14px;
}
footer .col-link {
  width: 50%;
  display: flex;
}
footer .col-link .col-item {
  display: flex;
  flex-direction: column;
  width: 30%;
}
footer .col-link .col-item a {
  font-size: 14px;
  margin-bottom: 10px;
  color: #5e6572;
  transition: 0.3s ease;
}
footer .col-link .col-item a:hover {
  color: #1c2321;
  transform: scale(1.1);
}
footer .copyRight {
  width: 100%;
  margin-top: 80px;
  text-align: center;
}
footer .copyRight p {
  font-size: 14px;
}
footer .copyRight p span {
  color: #d62828;
}
footer .copyRight .icon {
  margin-top: 20px;
}
footer .copyRight .icon a {
  margin-right: 10px;
}
footer .copyRight .icon a i {
  font-size: 20px;
  color: #5e6572;
  transition: 0.3s;
}
footer .copyRight .icon a i:hover {
  color: #d62828;
}/*# sourceMappingURL=index.css.map */